/*fichiers css qui reinitialise*/
@import 'minireset.css';
@import 'normalize.css'; 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*generalites*/
body {
    font-family: Roboto;
    width: 100%;
    /* height: 100%; */
}
.color_blanc {
    color: white
}

.color_gris {
    color: gray;
}

.color_noir {
    color: black;
}

.bg_violet {
    background-color: blueviolet;
}

.light_violet {
    color: purple;
}

.decoration_none {
    text-decoration: none;
}

.typo {
    text-transform: uppercase;
    margin: 10px 0;
    font-weight: bold;
}

/*le site*/
.bg_image {
    background-image: url("images/backgroung_image.jpg");
    height: 100vh;
    background-size: cover;
}

/*flexbox*/
.d_flex, nav ul, section, .reseaux_sociaux ul {
    display: flex;
}

header {
    justify-self: space-between;
}

main, footer {
    flex-direction: column;
}

.div_logo {
    flex:1;
    height: 105px;
    overflow: hidden; 
    object-fit: cover;
}

nav {
    
}
nav ul {
    flex: 1;
    justify-content: baseline; 
    margin-right: 15px;
}

nav ul li {
    padding: 40px 0 40px 40px;
}

section:first-child {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.section1__titre3 {
    padding-top: 30px;
    font-size: 2.5rem;
    font-style: italic;
}

.section1__titre3:hover {
    color: #7a00cc;
}

section:last-child {
flex-direction: column;
margin: 0 200px; 
}

.section2__paragraphe1, .section2__cards, .footer__paragraphe {
text-align: center;
margin-top: 30px;
}

.section2__citations {
    text-align: center;
    margin: 40px 180px 0 180px;
    font-size: 1.3rem;
}
    
.section2__citations__nom {
font-size : 1.2rem;
font-variant: small-caps;
}

.section2__paragraphe1 {
    padding: 20px;
    font-size: 1.5rem;
}

.section2__cards {
    padding: 0 15px;
    flex: 1;

}

.reseaux_sociaux {
    margin: 30px 400px; 
}

.reseaux_sociaux ul {
    justify-content: center;
}

.reseaux_sociaux ul li{
    padding: 0 50px;
}

i {
    font-size: 1.3rem;
}

footer {
    padding-top : 30px;
}

.footer__listes ul {
    list-style: none
}

.footer__listes ul li::before {
    content: "•"; color: white; padding: 10px;
}

.footer__infos {
    justify-content: space-around;
    padding: 25px 0;
}

.footer__sous_infos {
    margin: 0 50px;
}

address {
    padding-top: 15px;
}

.paddings {
    padding-top: 10px;
    padding-left: 20px;
}

/*partie header*/
.header__logo {
    overflow: hidden; 
    object-fit: cover;
}

.section1__div_logo {
    width: 18%;
    height: auto;
    overflow: hidden;
}
